/dimensions/minecraft/*
!/dimensions/minecraft/overworld/
/dimensions/minecraft/overworld/data/
/players/
/session.lock
/data/*
!/data/minecraft/
/data/minecraft/*
!/data/minecraft/maps/
!/data/minecraft/world_gen_settings.dat
/level.dat_old